<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<!-- Chaine de connexion définie pour la connexion à la BD-->
	<connectionStrings>
		<add name="GestionInfirmerie" connectionString="Data Source=localhost;Initial Catalog=Gestion_Infirmerie;Integrated Security=True"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>